/* tooltip */
svg {
  border: 1px solid
}
.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  width: 400px;
  height: 400px;
}
.mcharts-tip {
  position: absolute;
  z-index: 99999;
  pointer-events: none;
  padding: 10px;
  font-size: 12px;
  color: #959da5;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  text-align: left;
  transition: top 200ms ease-in-out, left 200ms ease-in-out;
  display: none;
}